//custom.less

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.flexslider,
.row {
    padding-bottom: 20px;
}

.clearboth {
    clear:both;
}

#logo img {
    width: 100px;
    float:left;
}

.navbar-brand {
    padding-top: 40px;
}

.navbar-static-top {
    clear:both;
}

footer {
    clear:both;
    
}

.small-label {
    float:left;
    clear:left;
}