//custom.less
//@media(max-width:767px){}
//@media(min-width:768px){}
//@media(min-width:992px){}
//@media(min-width:1200px){}

//@media(min-width:34em){//767px
    
//}
//@media(min-width:48em){//768px
    
//}
//@media(min-width:62em){//992px
    
//}
//@media(min-width:75em){//1200px
    
//}

/*force viewport device width on ie 10*/
@-ms-viewport {
    width:device-width;
}

html {
    min-width: 600px;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.flexslider,
.row {
    padding-bottom: 20px;
}

.clearboth {
    clear:both;
}

#logo-mobile img,
#logo-desktop img {
    width: 100px;
    float:left;
}

.navbar-brand {
    font-size: 24px;
    padding-top: 40px;   
    
    @media(min-width:62em){//992px
    
        font-size: 3em;

    }
}


.navbar-static-top {
    clear:both;
}

footer {
    clear:both;
    
}

.small-label {
    float:left;
    clear:left;
}

.input-group.search-form  {
    
    float:right;
    padding-top:5px;
    clear: right;
}

.header-buttons a {

    margin-top:10px;
    
    @media(min-width:48em){//768px
            float:right;
    }
}

.login-enroll-mobile .header-buttons a {

    margin: 0px auto;
    width: 90%;

}

.header-buttons a:nth-child(2) {
    margin-right:5px;
    
}

.latest-thumb {
    margin-right:10px;
}

#sidebar {
    margin-top: 40px;
    display:none;
    
    @media(min-width:48em){//768px
         display:block;
        
    }
}

li#nav_menu-3 {
    margin-left: 60px;
}

.navbar-nav {
    margin: 0px auto;
    width: 90%;
}

.navbar-collapse {
    clear: both;
}

#search {
    float:right;
    clear: both;
    
}

.login-enroll-desktop {
    display:none;
    
    @media(min-width:48em){//768px
                           
         display:block;
        
    }
}

.btn-xl {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
    width: 49%;
    
}

.mobile-toggle {
    padding: 6.25px 10px;
}

.navbar-brand-desktop {

    display:none;
    
    @media(min-width:48em){//768px

     display:block;
        
    }
    
}

#logo-desktop {

    display:none;
    
    @media(min-width:48em){//768px

     display:block;
        
    }
    
}

.distribute-widgets {

    display:none;
    
    @media(min-width:48em){//768px

     display:block;
        
    }
    
}